.container {
  min-height: 90vh;
  overflow-y: hidden !important;
}
.header h6 {
  width: 160px;
}
.hr {
  height: 1px;
  color: #fff;
  width: 100%;
  /* border-width: 1px; */
}

.button {
  border-radius: 24px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
}

.button.active {
  background-color: var(--color-primary);
}

.projects {
  transition: all ease-in-out 0.3s !important;
}

@media screen and (max-width: 1200px) {
  .projects {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .projects {
    justify-content: center !important;
  }
}
