* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #282c33;
  scroll-behavior: smooth;
}

:root {
  --color-light: #dedede;
  --color-dim: #959595;
  --color-primary: #be45e0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 12px;
}

.section-margin {
  margin: 2rem 6rem;
}
.color-light {
  color: var(--color-light);
}
.color-dim {
  color: var(--color-dim);
}
.color-primary {
  color: var(--color-primary);
}
.bg-color-primary {
  background-color: var(--color-primary);
}

/* font sizes */
.h-1 {
  font-size: 48px;
}
.h-2 {
  font-size: 40px;
}
.h-3 {
  font-size: 32px;
}

@media screen and (max-width: 992px) {
  .section-margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .section-margin {
    margin: 2rem 4rem !important;
  }
}

@media screen and (max-width: 576px) {
  .section-margin {
    margin: 2rem !important;
  }
  .h-1 {
    font-size: 32px;
  }
  .h-3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .section-margin {
    margin: 1rem !important;
  }
  .h-3 {
    font-size: 1rem;
  }
}

/* disable default bootstrap uis */
.btn-primary {
  box-shadow: none!;
  border-color: none;
  border: none;
  outline: none;
}
.btn-primary:active {
  background-color: #942cb1 !important;
  border-color: none !important;
}
.btn-primary:hover {
  background-color: #be45e0;
}
a {
  all: unset;
  cursor: pointer;
}
