.container {
  height: 80vh;
}

.description {
  font-size: 24px;
  font-style: normal;
  line-height: 36px; /* 150% */
  letter-spacing: -0.5px;
}

.img-container img {
  border: 3px solid white;
}

@media screen and (max-width: 992px) {
  .container {
    height: auto;
    margin: 12% 4rem;
  }
  .img-container {
    justify-content: flex-end !important;
  }
  .img-container img {
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 6rem 4rem !important;
  }
  .row {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .img-container {
    justify-content: center !important;
  }
}

@media screen and (max-width: 576px) {
  .description,
  .button {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 450px) {
  .container {
    margin: 4rem 2rem 6rem !important;
    height: 75dvh;
  }
  .img-container img {
    height: 100%;
    width: 100%;
    max-width: 225px;
  }

  .header :is(h2, p) {
    text-align: center;
    width: 100% !important;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
}
